* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.order {
  display: flex;
}
.main-section {
  padding-left: 200px;
  padding-top: 50px;
  max-width: 1000px;
  margin: 0 auto;
  height: 600px;
  display: flex;
  flex: center;
}
.space {
  padding-top: 40px;
}
.login {
  font-size: 29px;
  font-weight: 500;
}
.display-text {
  font-size: 18px;
  margin-top: 16px;
  line-height: 150%;
}
.login-layout {
  margin: 15px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  /*max-width: 300px;*/
  /*margin: 0 auto;*/
  height: 600px;
}

.login-button {
  margin-top: 36px;
  padding: 10px;
  background: #fb641b;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border: none;
  color: #fff;
}

input::placeholder {
  padding: 0px;
}
.password {
  margin-top: 36px;
  padding: 10px;
}

.login-text {
  padding: 10px;
}

.create-account {
  margin-top: 35px;
  padding: 10px;
}
.side-bar {
  padding: 10px;
  margin: 15px;
  background-color: lightblue;
  /*background-position: center 85%;*/
  width: 300px;
  height: 300px;
  /*margin: 0 auto;*/
  display: inline-block;
  flex-direction: column;
}

.signup-sidebar {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.signup-layout {
  margin: 15px;
  display: flex;
  flex-direction: column;
  height: 600px;
}
.text {
  margin-top: 20px;
  padding: 10px;
}

.signup {
  font-size: 29px;
  font-weight: 500;
}

.signup-button {
  margin-top: 10px;
  padding: 10px;
  background: #fb641b;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border: none;
  color: #fff;
}
.space1 {
  padding: 15px;
}
.nav-bar {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  /*margin-top: 10px;*/
  margin-bottom: 10px;
  background-color: blue;
}

.search-input {
  height: 36px;
  width: 50%;
}
.button {
  padding: 10px;
  margin: 0 10px;
  border: 0;
  color: white;
  font-weight: bold;
  font-size: 18px;
  background-color: blue;
}
.products-section {
  margin-left: 10px;
  margin-right: 10px;
}

.flipkart {
  color: white;
  margin: 0 10px;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
}
.image {
  /*display: none;*/
  margin: 10px;
  height: 100px;
  width: 120px;
}

.product-images {
  display: inline-grid;
  /*grid-template-rows: 80% 100px auto;*/
}
.order {
  display: flex;
  /*height: 15px;*/
  margin-left: 10px;
  max-width: 120px;
}
.user-information {
  max-width: 900px;
  margin: 0 auto;
}
.user-sidebar {
  max-width: 300px;
  /*margin: 0 auto;*/
}

.user-section {
  display: flex;
  /*margin: 0 10px;*/
}
.gender {
  display: flex;
}
.Mobilenumber-edit {
  display: flex;
}
.email-edit {
  display: flex;
}
